<body class="text-center">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover">
        <h1 class="display-1" style="opacity: .3;">404</h1>
        <p class="lead"> Что то пошло не так :(</p>
        <p class="lead"> Попробуйте обновить страницу, но голосовать все равно нужно.</p>
        <p class="lead">
          <a href="#" class="btn btn-info">Обновить</a>
        </p>
      </main>
    </div>
</body>
