<head>
  <%= stylesheet_link_tag 'errors', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
</head>

<body class="text-center">
  <div class="title">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover">
        <h1 class="error-404">404</h1>
        <strong>
        <p> Что то пошло не так :(</p>
        <p> Попробуйте обновить страницу, но голосовать все равно нужно.</p> </strong>
        <p>
          <a href="#" class="btn btn-md btn-primary">Обновить</a>
        </p>
      </main>
    </div>
    <div>
</body>
