
<% if false %> <iframe width="400" height="220" src="<%= camera.link %>"></iframe> 
  <iframe src="<%= camera.link %>"></iframe>
<% end %>

<%= image_tag(camera.link, height: '400', width: '500') %>

<% if false %>
  <p>
    <%= link_to 'Destroy Camera', [camera.area, camera],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>