<% if false %>
  <p>
    <strong >Camera:</strong>
    <%= camera.camera_number %>
  </p>
<% end %>

<% if false %>
    <p>
    <strong>link:</strong>
    <text>  <%= camera.link %> </text>
    </p>
<% end %>

<iframe width="400" height="220" src="<%= camera.link %>"></iframe>

<% if false %>
  <p>
    <%= link_to 'Destroy Camera', [camera.area, camera],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>