<% if user_signed_in? %>
    <% @cameras.each do |camera| %>
        <p>
        <strong>Участок <%=
        if camera.refer_area_code =~ /\A[-+]?[0-9]*\.?[0-9]+\Z/ #check if numeric
            "№" + "%03d" % camera.refer_area_code
        else
            camera.refer_area_code
        end %> | </strong>

        <strong >Камера:
        <%= camera.camera_number %>
        </strong>
        </p>

        <iframe width="460" height="260" src="<%= camera.link %>"></iframe>

    <% end %>
<% else %>
<h1>Sign in to see this page</h4>

<% end %>
