@import "bootstrap";

// html,
// body {
//   height: 100%;
// }

// body {
//   display: -ms-flexbox;
//   display: -webkit-box;
//   display: flex;
//   -ms-flex-align: center;
//   -ms-flex-pack: center;
//   -webkit-box-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   justify-content: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   // background-color: #f5f5f5;
//   background-color: #fffffffd
// }

body.text-center {}

.title {
  width: 100%;
  max-width: 600px;
  padding: 15px;

  margin: 0 auto;
  margin-top: 4%;
}

.field {
  padding-bottom: 20px;
}

.form-signin {
  // width: 100%;
  // max-width: 630px;
  padding: 7%;
  // padding-left: 55px;
  // padding-right: 55px;
  // margin: 0 auto;
  border-style: solid;  
  border-width: 1px;
  border-radius: 4px;
  border-color: #d6d6d685;
}

.header {
  padding-left: 15%;
  text-align: start;
}

.blue-header {
    color: #0e69d1;
    margin-top: 1%;
    margin-bottom: 0%;
}

.red-header {
    color: #ff0000ec;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.link-back {
  color: #535353fd;
  // font-weight: bold;
  margin-top: 40px;
  opacity: .8;

}

.link-back:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
  color: rgb(2, 2, 2);
}

.btn-primary {
  background-color: #3a9ef0a4;
  border-color: #3a9ef0a4;
  margin-top: 20px;
  margin-bottom: 10px;
  // opacity: .8;
}

.btn-primary:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
  background-color: #1062a5fd;
}

.alert {
  position: absolute;
  color: #dd3232;
  font-size: 12pt;
  margin: 0%;
  // padding-bottom: 0%;
  // padding-top: 0%;
  // border-color: #1062a5fd;
  padding: 0;
}